<!--Powered by Gui Parreira -->

<br />
<div class="card">
  <div class="card-body">
        <form action="/like/criar" method="POST">
            <div class="form-group row">
                <div class="col-xs-2">
                <label for="like">Like:</label>        
                <select class="form-control" id="like" name="like" required>
                    <option value="Curtiu">Like</option>
                    <option value="Não Curtiu">Deslike</option>
                </select>
                </div>
            </div>    
            <div class="form-group row">
                <div class="col-md-2 p-10">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                </div>
            </div>
        </form>
    </div>
</div>    