<!--Powered by Gui Parreira -->

<br />
<div class="card">
  <div class="card-body">
        <form action="/postagem/criar" method="POST">
            <div class="form-group row">
                <div class="col-xs-2">
                <label for="titulo">Título:</label>        
                <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
            </div>   
            <div class="form-group row">
                <div class="col-xs-4">
                <label for="conteudo">Conteúdo:</label>        
                <input type="text" class="form-control" id="conteudo" name="conteudo" required>
                </div>
            </div>  
            <div class="form-group row">
                <div class="col-md-2 p-10">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                </div>
            </div>
        </form>
    </div>
</div>    